 
 
<div class = "container" ng-controller="itemsController"> 
 <div class="jumbotron">
	 
	<user-menu></user-menu>

 	<h2 class="text-right"> רשימת פריטים </h2>
	 
	 <table class="table">
	 <thead>
	  <tr>
	    <th>ערוך</th>
		<th>תאריך עדכון</th>
		<th>מחיר מומלץ לצרכן</th>
		<th>מחיר עלות</th>
		<th>שם הפריט</td>
		<th>מספר פריט</th>
	  </tr>
	  </thead>
	  
	  <tr ng-repeat = "item in items[0]">
		<td><a ng-href="#!/items/edit/{{item.id}}" class="btn btn-warning">עריכה</a></td>	  
		<td>{{item.t_update | date:'yyyy/MM/dd HH:mm' }}</td>
		<td>{{item.recommended}}</td>
		<td>{{item.cost_price}}</td>
		<td>{{item.name}}</td>
		<td>{{item.id}}</td>
	  </tr>
	</table>
	
 </div>

</div>
