  
  
 <div class="container" ng-controller="dashController as dash" data-ng-init="init()" >
   <div class="jumbotron">
     
    <div class="row">
	<div class="col-md-3"> </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading text-right" >
                    <h3 class="panel-title">
                        <span class="glyphicon "></span> תפריט ראשי </h3>
                </div>
                <div class="panel-body">
                     
                  <p>  <a href="#!/items/new" class="btn btn-info active btn-lg btn-block" role="button"><span class="glyphicon glyphicon-pencil"></span>  הקמת פריט </a>  </p>				  
                  <p>  <a href="#!/items" class="btn btn-info btn-lg active btn-block" role="button"><span class="glyphicon glyphicon-plus"></span>  רשימת פריטים </a>  </p> 				  
                  <p>  <a href="/logout" class="btn btn-green btn-lg active btn-block" role="button"><span class="glyphicon glyphicon-cloud"></span>  התנתק </a> </p>

                </div>
            </div>
        </div>
    </div>
  </div>
</div>

 
